/* 
    Created on : 1 ene. 2022, 8:41:12 a. m.
    Author     : neury-dev
*/
.line {
    -fx-stroke: n-color-1;
    -fx-stroke-width: 2;
}
.circle {
    -fx-fill: n-color-2;
    -fx-stroke: n-color-1;
    -fx-stroke-type: inside;
}