/* 
    Created on : 1 ene. 2022, 8:41:12 a. m.
    Author     : neury-dev
*/
.niveles {
    -fx-alignment: center;
    -fx-pref-width: 449px;
    -fx-pref-height: 283px;
}
.line {
    -fx-stroke: n-color-1;
    -fx-stroke-width: 2;
}
.text {
    -fx-fill: n-color-1;
}
.circle {
    -fx-fill: n-color-2;
    -fx-stroke: n-color-1;
    -fx-stroke-type: inside;
}